html
    head
        meta(charset="UTF-8")
        title Auction

        script(type="text/javascript" src="/public/scripts/extLib/jquery-3.5.1.min.js")
        script(type="text/javascript" src="/public/scripts/common.js")

        link(rel="stylesheet" type="text/css" href="/public/styles/common.css")
        link(rel="shortcut icon" href="/public/favicon.ico")

        block styles
        block scripts

    body
        header
            h1.site-name Paintings Auction

        main
            block content

        footer
            span Paintings Auction by John C. Alastor